 /* .active {
  color: red;
}  */
.contact_list {
  margin-top: 16px
}

.card {
  margin-top: 8px
}

.card-img-top{
  height: 200px;
}

.search-bar {
  margin-top: 30px;
}

.signin-header {
  text-align: center;
  margin-top: 30px;
}

.form-items {
  margin: 20px auto;
}

.login-btn {
  margin-top: 10px;
}

.edit-btn {
  margin-left: 0;
  margin-right: 8px;
}

.facebook,
.twitter,
.github {
  display: block;
  margin: 10px auto;
}

.facebook {
  }

.twitter{
  background-color: #1da1f2;
}

.github{
  }